/* =======Google Font======== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');


/* =======Common Style======== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container {
    width: 1080px;
    margin-top: 10px;
}

/*==========Variables==========*/
:root {
    --highlight-color: #22CB5C;
    --dark-text: #18191F;
    --gray-text: #3A3A3A;
    --light-text: #787885;
    --white-text: #FFFFFF;
    --star--color: #FB8200;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title h2 {
    font-weight: 600;
    color: var(--gray-text);
}

.nav-element a {
    text-decoration: none;
    color: var(--gray-text);
    font-size: 18px;
    font-weight: 500;
    padding-left: 30px;
}

/* ======== Banner Area ======= */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 130px;
    margin-bottom: 30px;
}

.banner-image img {
    width: 100%;
}

.banner-title {
    font-weight: 700;
    font-size: 51px;
    color: var(--gray-text);
    margin-bottom: 25px;
    margin-left: 0;
    position: relative;
}

.banner-title::before {
    content: 'Hey Influencer';
    position: absolute;
    top: 0;
    left: 0;
    color: var(--highlight-color);
    animation: typing 3s ease-in infinite;
}

@keyframes typing {
    0% {
        content: 'H|';
    }

    4% {
        content: 'He|';
    }

    8% {
        content: 'Hey|';
    }

    12% {
        content: 'Hey|';
    }

    16% {
        content: 'Hey |';
    }

    20% {
        content: 'Hey I|';
    }

    24% {
        content: 'Hey In|';
    }

    28% {
        content: 'Hey Inf|';
    }

    32% {
        content: 'Hey Infl|';
    }

    36% {
        content: 'Hey Influ|';
    }

    40% {
        content: 'Hey Influe|';
    }

    44% {
        content: 'Hey Influen|';
    }

    48% {
        content: 'Hey Influenc|';
    }

    52% {
        content: 'Hey Influence|';
    }

    56% {
        content: 'Hey Influencer|';
    }

    60%,

    85% {
        content: 'Hey Influencer|';
    }

    86% {
        content: 'Hey Influence|';
    }

    87% {
        content: 'Hey Influenc|';
    }

    88% {
        content: 'Hey Influen|';
    }

    89% {
        content: 'Hey Influe|';
    }

    90% {
        content: 'Hey Influ|';
    }

    91% {
        content: 'Hey Infl|';
    }

    92% {
        content: 'Hey Inf|';
    }

    93% {
        content: 'Hey In|';
    }

    94% {
        content: 'Hey I|';
    }

    95% {
        content: 'Hey |';
    }

    96% {
        content: 'Hey|';
    }

    97% {
        content: 'He|';
    }

    98% {
        content: 'H|';
    }

    99% {
        content: '|';
    }

    100% {
        content: '|';
    }

}

.banner-content {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray-text);
    margin-left: 0;
}

.banner-button a {
    text-decoration: none;
    color: var(--white-text);
    font-size: 16px;
    font-weight: 700;
}

.arrow {
    color: white;
    position: relative;
    top: 3px;
    margin-left: 3px;
    font-size: 22px;
    font-weight: 700;
}

.banner-button {

    height: 44px;
    width: 196px;
    background-color: var(--highlight-color);
    border-radius: 41px;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.banner-button::after {
    content: '';
    width: 100%;
    height: 44px;
    border-radius: 41px;
    background-color: var(--dark-text);
    position: absolute;
    z-index: -1;
    transition: transform 500ms ease-in;
    transform: scaleX(0);
    transform-origin: right;
}

.banner-button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* ========logos area ====== */
.logos {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

/* ========Products Collection===== */
.all-products {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.products-collection h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--gray-text);
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.product {
    border-radius: 5px;
    width: 330px;
    padding: 15px;
    /* margin-right: 30px; */
    /* margin-top: 30px; */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* #product-3,
#product-6,
#product-9 {
    margin-right: 0;
} */

.products img {
    width: 100%;
}

.products h3 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6px;
}

.products h4 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}

.products p {
    color: var(--light-text);
    font-size: 14px;
    font-weight: 500;
}

.star-ratings {
    color: var(--star--color);
}

.star-ratings span {
    color: var(--light-text);
    font-weight: 500;
}

.see-more {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.see-more h3 {
    font-weight: 700;
    font-size: 16px;
    color: var(--highlight-color);
}

.see-arrow {
    position: relative;
    top: 3px;
    font-weight: 700;
    font-size: 20px;
    color: var(--highlight-color);
}

/* =======subscribe section ======== */
.subscribe {
    text-align: center;
    background-color: var(--highlight-color);
    color: white;
    padding: 50px;
}

.subscribe h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.subscribe p {
    font-size: 1.2rem;
}

button,
input[type=email] {
    font-size: 20px;
    color: var(--white-text);
    padding: 12px 30px;
    border: 2px solid var(--white-text);
    background-color: var(--button-color);
    margin-left: 10px;
    margin-top: 20px;
    transition: 300ms ease-in;

}

button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--highlight-color);
}

input[type=email] {
    background-color: white;
    margin-left: 0;
}

/* =======Footer Section=========== */

.footer {
    background-color: var(--gray-text);
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 10px;

}

.footer h2,
p {
    margin: 10px;
}

.icon a {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.089);
    width: 45px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

/* ===============================
--------Mobile Responsive---------
================================ */

@media screen and (max-width:767px) {

    /* ==============navbar section ========== */
    .nav-bar {
        display: flex;
        justify-content: left;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 50px;
        padding: 0 5px;
    }

    .nav-title {
        font-size: 14px;
    }

    .nav-element a {
        font-size: 20px;
        padding: 10px;
        margin-right: 0px;
    }

    .nav-item {
        display: none;
    }

    /* ============banner================= */
    .banner {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        width: 100%;
    }

    .banner-image img {
        width: 60%;
        margin-top: 25px;
        margin-left: 0;
    }

    .banner-image {
        display: flex;
        justify-content: center;
    }

    .banner-button {
        width: 140px;
        height: 35px;
    }

    .banner-title {
        font-size: 27px;
    }

    .banner-content {
        font-size: 11 px;
        color: var(--light-text);
    }


    /* ===============logos============= */
    .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .all-logos {
        display: flex;
        justify-content: space-around;
    }

    .logo {
        width: 50%;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


    /* ========subscribe section ======= */
    .subscribe h2 {
        font-size: 1.2rem;
    }

    .subscribe p {
        font-size: .5rem;
    }

    button,
    input[type=email] {
        font-size: 10px;
        font-weight: 700;
        padding: 5px 8px;
        margin: 3px;
        padding: 5px;
    }


    /* ==========footer section ======== */

    .footer h2 {
        font-size: 18px;
        font-weight: 400;
    }

    .footer p {
        font-size: 10px;
        font-weight: 300;
    }

    .icon a {
        /* width: 55px; */
        padding: 15px;
        margin: 10px;
        font-size: 15px;
        border-radius: 60px;
    }
}


/* =================================
---------tablet responsive----------
==================================== */

@media screen and (min-width:768px) and (max-width:1023px) {
    /* ==============navbar section ==========*/

    .nav-bar {
        padding: 0 10px;
    }

    .nav-title {
        font-size: 15px;
    }

    .nav-element a {
        font-size: 17px;
        padding: 10px;
        margin-right: 0px;
    }

    /* ============banner================= */
    .banner {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .banner-image img {
        width: 60%;
        /* margin: 0 25px; */
        /* margin-left: 0; */
    }

    .banner-image {
        display: flex;
        justify-content: center;
    }

    .banner-button {
        width: 140px;
        height: 35px;
    }

    .banner-title {
        font-size: 50px;
    }

    .banner-content {
        font-size: 14px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    /* ========subscribe section ======= */
    .subscribe h2 {
        font-size: 1.8rem;
    }

    .subscribe p {
        font-size: 1rem;
    }

    button,
    input[type=email] {
        font-size: 15px;
        font-weight: 700;
        padding: 10px 20px;
        margin: 3px;
    }


    /* ==========footer section ======== */

    .footer h2 {
        font-size: 25px;
        font-weight: 500;
    }

    .footer p {
        font-size: 12px;
        font-weight: 400;
    }
}